.todo-container {
    display: flex;
    margin-top: 20px;
    width: 100%;
}

.todo-item {
    margin-left: 20px;
}

.todo-card {
    margin-bottom: 2%;
    background-color: rgb(209, 209, 209);
}

.todo-card-title {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.todo-card-title input {
    margin-right: 10px;
    justify-content: flex-start;
    align-self: center;
}

.todo-card-title h2 {
    font-size: 1.25rem;
    margin: 0;
    align-self: center;
}

.todo-card-footer {
    padding: 16px;
    padding-left: 10%;
}