<div class="button-container">
    <button class="btn btn-primary" (click)="onLoadTodos()">Load Todos</button>
    <button class="btn btn-success" (click)="onAssignTodosForWeek(TagValue.CurrentWeek)">Set For Current Week</button>
    <button class="btn btn-success" (click)="onAssignTodosForWeek(TagValue.NextWeek)">Set For Next Week</button>
    <button class="btn btn-info" (click)="getCurrentWeekTodos()">Show Current Week Todos</button>
    <button class="btn btn-dark" (click)="getNextWeekTodos()">Show Next Week Todos</button>
    <button class="btn btn-secondary" (click)="onConvertNextWeekTodosToCurrentWeek()">Convert Next to Current Week</button>
</div>
